<nav>
    <div class="containers d-flex justify-content-between align-items-center">
        <div class="search-bar">
            <input type="search" placeholder="Search">
            <div class="sp"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
        <div class="profile-area">
            <div class="notification">
                <div class="notification-icon">
                    <i class="fa-solid fa-bell"></i>
                    <div class="notification-badge">2</div>
                </div>
            </div>
            <div class="profile">
                <div class="profilePhoto">
                    <img [src]=image alt="">
                </div>
                <span class="expandMore" style="color: #5250F9;"><i class="fa-solid fa-angle-down"></i></span>
            </div>
            <button id="menu">
                <span>Menu <i class="fa-solid fa-bars"></i></span>
            </button>
        </div>
    </div>
</nav>